# Dependencies
node_modules/

# Vercel
.vercel/

# Environment
.env
.env.local

# Logs
*.log

# Binary (jangan di-commit!)
librudp.bytes
librudp_patched.bytes

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
